@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.logo{
    width: 300px;
    height: 200px;
}

header {
    background-image: url(../imagenes/headerConsultorBi.png);
    background-size: cover;
    background-position: center;
}

.fuentes{
    font-size: 1.2rem;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.fuentes li a{
    color: #ECF0F1;
}

.fuentes li a:hover{
    background-color: #343a40;
    border-radius: 5px;
    opacity: 0.8;
    color: #fff;
}

.titulo{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}
.customTextArea{
    height: 200px !important;
}

/* HERO */

.colorBtn{
    background-color: #83c5be;
    color: #fff;
}

.colorBtn:hover{
    background-color: #006d77;
    color: #fff;
}

.colorButton{
    color: white !important;
}


.colorBurger{
    color: white;
    border-color: white;
    background-color: white;
    opacity: 0.6;
}


/* CAROUSEL */

.imgCarousel{
    height: 350px;
    object-fit: cover;
}

.titulosProductos{
    background-color: #c1101a;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
}

.titulosProductos h2{
    font-size: 3rem;
}

.seccionContenido{
    display: flex;
    align-items: flex-start;
}

.espacios{
    padding: 40px;
}

.elEquipo{
    text-align: center;
}

.txtElEquipo{
    padding: 10px 50px;
    text-align: center;
}

.imgElEquipo{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 30px;
}

.fuenteNosotros{
    font-size: 3rem;
}

.fuenteCasos{
    font-size: 2rem;
}

.imagenElEquipo {
    display: flex;
    justify-content: center;
}