@mixin anclas {
  li a {
    color: #ECF0F1;

    &:hover {
      background-color: #343a40;
      border-radius: 5px;
      opacity: 0.8;
      color: #fff;
    }
  }
}

.estiloAnclas {
  @include anclas;
}